---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import { resolve } from "../utils/url";
---

<Layout>
  <Hero title="隠されたフラグ、解き放て">
    <p>
      QRコードに刻まれた謎を解読せよ。<br />
      プログラミングの妙技か、画像編集のセンスか―あなたの技量が勝利を呼ぶ。
    </p>
    <a href={`${resolve(Astro, "one").href}`} class="cta-button">ルールを確認</a>
  </Hero>
</Layout>
<style>
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .cta-button {
    display: inline-block;
    padding: 15px 40px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    background-size: 200% auto;
    transition:
      background-position 0.5s,
      transform 0.3s;
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.4);
  }
  .cta-button:hover {
    background-position: right center;
    transform: scale(1.05);
  }
</style>
