---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="container">
  {title && <h2>{title}</h2>}
  <slot />
</div>

<style>
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Orbitron", sans-serif;
  }
</style>
