ol.rule {
  margin-left: 20px;
}

ol.rule li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-align: justify;
}

ol.rule code {
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 5px;
  margin: 0 2px;
  border-radius: 5px;
}
